body {
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    text-align: center;
}

contenedor.{
padding: 20px;
}

h1 {
display: flex;
justify-content: center;
}

p {
    color: #4c5769;
    display: flex;
    justify-content: center;
    text-align: center; 
    letter-spacing: 0.5px; 
    width: 35%;
    height: 50px;
    margin: auto; 
}

.gallery{
padding: 55px;
}

#bot1 {
    margin-top: 15px;
    padding: 14px 37px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

img {



    
}